body {
    background-color: rgb(180, 180, 177);
}


.container {
    margin-left: 20px;
}

p {
    color: rgb(51, 56, 94);
}

h1 {
    color: rgb(71, 69, 69)
}

h2 {
    color: rgb(98, 98, 119);
}

h1:hover {
    color: rgb(36, 60, 239);
}



.title {
    font-family: 'Verdana';
} 

