body {
    background-color: rgb(180, 180, 177);
    margin-left: 30px;
}


.homePageButton {
    margin-left: 0px;
}

p {
    color: rgb(51, 56, 94);
}

h1 {
    color: rgb(71, 69, 69)
}

h2 {
    color: rgb(98, 98, 119);
}

h1:hover {
    color: rgb(36, 60, 239);
}

.bold {
    font-size: 30;
    font-weight: bold;

}

.form {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.title {
    font-family: 'Verdana';
} 

